---
page_title: "Provider: Mondoo"
description: |-
  The Mondoo provider is used to configure your Mondoo Platform infrastructure.
---

# Mondoo Provider

The Mondoo provider is used to configure your Mondoo Platform infrastructure.

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

## Authentication

To configure the Mondoo provider you will need a service account with **Editor** permissions, to create a service
account, see [Create and Manage Service Accounts](https://mondoo.com/docs/platform/maintain/access/service_accounts/).

By default, the provider will use the Mondoo CLI configuration file to authenticate to the Mondoo Platform. The CLI
configuration file is located at `~/.config/mondoo/mondoo.yml` on Linux and macOS, and `%HomePath%\mondoo\mondoo.yml`
on Windows.

You can alternatively use the `credentials` field, or any of the following environment variables ordered by precedence.

* `MONDOO_CONFIG_BASE64`
* `MONDOO_CONFIG_PATH`
* `MONDOO_API_TOKEN`

{{ .SchemaMarkdown | trimspace }}
